<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Appointment <small>panel</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#/patientHome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Appointment</li>
		</ol>
	</section>
	<br>
	<!-- Main content -->
	<section class="content">
		<div class="panel profile-page animated zoomIn">
			<div class="panel-body">
				<div class="panel-content">
					<br>
                    
                    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img ng-src="{{doctor.profilePic}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><i class="glyphicon glyphicon-user"></i> {{doctor.name}}</h4>
                        <small><cite style="font-size: large" title="San Francisco, USA"><i style="color:blue; " class="glyphicon glyphicon-map-marker"></i>{{doctor.clinicAddress}}</cite></small>
                        <p style="font-size: large">
                            <i style="color:orange;" class="glyphicon glyphicon-envelope"></i> {{doctor.email}}
                            <br />
                            <i style="color:green;" class="glyphicon glyphicon-phone"></i> {{doctor.mobile}}
                            <br />
                            <i class="glyphicon glyphicon-time"></i>{{doctor.timing}}<br>
<!--                            <i class="glyphicon glyphicon-calendar" ></i>-->
                            <md-content class="cal col-sm-8" > 
                                <md-datepicker style="background-color:#F5F5F5;" ng-model="booking.appointmentDate" md-placeholder="Enter date"></md-datepicker>
				            </md-content>
                            <br>
                            <textarea ng-model="booking.description" cols="20" rows="3" placeholder="Enter your problem"></textarea>
                        </p>
                            <br><br>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button ng-click="bookAppointment(doctor,booking)" type="button" class="btn btn-primary">
                                Book Appointment</button>
                            
                            
                        </div>
                    </div>
						</div>
					</div>
					<br>
					<br>
					<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>

	<br>
</div>

<style>

    .cal{
         margin-left:-10%;
         background-color:#F5F5F5;
    }
    
     @media only screen and (max-width: 785px) {
        .cal{
            margin-left: -2%;
            padding: inherit;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .cal{
            margin-left: -4%;
            padding: inherit;
        }
    }
    
</style>