<section class="contact-style-one">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="column info-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <h3>get in touch with our best <span class="theme_color">support team</span></h3>
                    <div class="text">We wants to connect rural areas of our country to best of medical facilities available near to the area so that in case of emergency they no where to go & how fast they can reach the best doctors near by them.</div>
                    <ul class="info-list">
                        <li><strong>Phone :</strong> (+91)  9971118861</li>
<!--                        <li><strong>Office :</strong> (+01) 004 2254 8593</li>-->
                        <li><strong>Email :</strong> aaspaasdoctor@gmail.com</li>
                    </ul>
                </div>
            </div>
            <!--Column-->
            <div class="column form-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="info-box">
                    <div class="upper-content">
                        <h3>Contact our <span class="theme_color">support team</span></h3>
                    </div>
                    <div class="default-form">
                        <form method="post" action="#/contact" id="contact-form">
                            <div class="row clearfix">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" ng-model="details.name" name="username" value="" placeholder="Your Name *" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12" ng-class="{'has-success' : contact.email.$dirty && contact.email.$valid , 'has-error' : contact.email.$dirty && contact.email.$invalid}">
                                    <input type="email" ng-model="details.email" name="email" value="" placeholder="Your Email *" required>
                                    <div class="help-inline">
                                        <span ng-show="!!contact.email.$error.isBlank"><b
											style="color: red;">Email Required.</b></span> <span ng-show="!!contact.email.$error.invalidChars"><b
											style="color: red;">Email must contain @ & dot(.)
												.</b></span> <span ng-show="!!contact.email.$error.invalidLen"><b
											style="color: red;">Email must be use dot(.) &
												characters.</b></span>
                                        <div ng-if="contact.email.$invalid == true">
                                            <span class="glyphicon glyphicon-remove form-control-feedback" style="color: red;" ng-show="!!contact.email.$error.isBlank || !!contact.email.$error.invalidChars || !!contact.email.$error.invalidLen"></span>
                                        </div>
                                        <div ng-if="contact.email.$pristine == false">
                                            <span class="glyphicon glyphicon-ok form-control-feedback" style="color: green;" ng-show="!contact.email.$error.isBlank && !contact.email.$error.invalidChars && !contact.email.$error.invalidLen"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" ng-model="details.mobile" name="mobile" value="" placeholder="Your mobile *" required>
                                </div>
                                
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="subject" value="" placeholder="Your Subject *">
                                </div>

                                <div class="form-group col-md-12 col-sm-8 col-xs-12">
                                    <textarea name="message" ng-model="details.message" placeholder="Your Requirement" required></textarea>
                                </div>
                            </div>
                            <button type="submit" class="theme-btn btn-style-one" ng-click="submitDetail(details)">send request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="container">
    <div class="row" style="margin-left: 20%;  margin-top: 2%;">
        <div class="col-sm-8 mobile-pull-left">
            <article role="login">
                <h4 class="text-center" style="color:#5BB0D5;">
                    For Any Query Or suggestion
                </h4>
                <h3 class="text-center">
                    <i class="fa fa-phone"></i> Contact Us
                </h3>

                <form id="contact" class="form form-horizontal" name="contact" role="form" style="text-align: center; margin-left: 26%;">

                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="details.name" placeholder="Enter Name" name="fees" />
                        </div>
                    </div>

                    <div class="form-group has-feedback col-sm-9" ng-class="{'has-success' : contact.email.$dirty && contact.email.$valid ,
                        'has-error' : contact.email.$dirty && contact.email.$invalid}">
                        <input type="email" class="form-control" id="inputError2" name="email" ng-model="details.email" placeholder="Enter email" valid-Email>
                       
                        <div class="help-inline">
                            <span ng-show="!!contact.email.$error.isBlank"><b
											style="color: red;">Email Required.</b></span> <span ng-show="!!contact.email.$error.invalidChars"><b
											style="color: red;">Email must contain @ & dot(.)
												.</b></span> <span ng-show="!!contact.email.$error.invalidLen"><b
											style="color: red;">Email must be use dot(.) &
												characters.</b></span>
                            <div ng-if="contact.email.$invalid == true">
                                <span class="glyphicon glyphicon-remove form-control-feedback" style="color: red;" ng-show="!!contact.email.$error.isBlank || !!contact.email.$error.invalidChars || !!contact.email.$error.invalidLen"></span>
                            </div>
                            <div ng-if="contact.email.$pristine == false">
                                <span class="glyphicon glyphicon-ok form-control-feedback" style="color: green;" ng-show="!contact.email.$error.isBlank && !contact.email.$error.invalidChars && !contact.email.$error.invalidLen"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="details.mobile" placeholder="Enter Mobile" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id="comment" ng-model="details.message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-0 col-sm-4">
                            <button type="button" class="btn " ng-class="{'btn-primary btn-block' : !contact.$valid || contact.$pristine 
											|| confirm==true, 'btn-success btn-block' : !!contact.$valid || 
											!contact.$pristine}" ng-disabled="!contact.$valid || contact.$pristine" ng-click="submitDetail(details)">
												<span class="glyphicon glyphicon-ok-circle"></span> Submit
											</button>
                        </div>
                    </div>
                </form>

            </article>
        </div>
    </div>

</div>
-->
